#product-overview {
  position: relative;
  background: url("photo/freedom.jpg") left 10% bottom 60%/cover no-repeat border-box;
  //background-image: url("photo/freedom.jpg");
  //background-size: cover;
  //background-position: left 10% bottom 20%;
  //background-repeat: no-repeat;
  //background-origin: border-box;
  //background-clip: border-box;
  width: 100vw;
  height: 33vh;
  margin-top: 2.625rem;
  padding: 0.625rem;

  h1 {
    position: absolute;
    color: white;
    font-family: 'Anton', sans-serif;
    bottom: 5%;
    left: 3%;
  }

}

#plans {
  .plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .section-title {
    color: #2ddf5c;
    text-align: center;
  }

  .plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;

    .plan__title {
      color: #0e4f1f;
    }

    .plan__price {
      color: #858585;
    }

    .plan__features {
      list-style: none;
      margin: 0;
      padding: 0;

      .plan__feature {
        margin: 0.5rem 0;
      }
    }

    &.plan--highlighted {
      background: #19b84c;
      color: white;
      box-shadow: 2px 2px 2px 2px rgba(0 ,0, 0, 0.5);

      .plan__annotation {
        background: white;
        color: #19b84c;
        padding: 0.5rem;
        box-shadow: 2px 2px 2px 2px rgba(0 ,0, 0, 0.5);
        border-radius: 0.5rem;
      }

      .plan__title {
        color: white;
      }

      .plan__price {
        color: #0e4f1f;
      }
    }
  }
}

#key-features {
  background: #ff004c;
  padding: 1rem;
  margin-top: 3rem;

  .key-features__title {
    color: white;
    text-align: center;
  }

  .key-features__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    .key-feature {
      width: 30%;
      display: inline-block;
      vertical-align: top;

      .key-feature__image {
        width: 8rem;
        height: 8rem;
        background: #ffcede;
        border: 2px solid #424242;
        border-radius: 50%;
        margin: auto;
        padding: 1.25rem;
      }

      .key-feature__description {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.25rem;
      }
    }
  }
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .modal__actions {
    text-align: center;

    .modal__action {
      border: 1px solid #0e4f1f;
      background: #0e4f1f;
      text-decoration: none;
      color: white;
      font: inherit;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover, &:active {
        background: #2ddf5c;
        border-color: #2ddf5c;
      }
    }

    .modal__action--negative {
      background: red;
      border-color: red;

      &:hover, &:active {
        background: #ff5454;
        border-color: #ff5454;
      }
    }
  }
}
