.background {
  background: url("../photo/plans-background.jpg") center/cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.main-packages {
  padding-top: 2.1rem;

  .package {
    border: 4px solid #0e4f1f;
    border-left: none;
    width: 80%;
    margin: 1rem 0;
    position: relative;

    &:hover, &:active {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      border-color: #ff5454;
    }

    &#plus {
      background-color: rgba(213, 255, 220, 0.95);

      .package__badge {
        position: absolute;
        right: 0;
        top: 0;
        margin: 1.2rem;
        font-size: 0.8rem;
        color: white;
        background: #ff5454;
        padding: 0.5rem;
      }
    }

    &#free {
      background-color: rgba(234, 252, 237, 095);
      float: right;
      border-left: 4px solid #0e4f1f;
      border-right: none;
      text-align: right;

      &:hover, &:active {
        border-color: #ff5454;
      }
    }

    &#premium {
      background-color: rgba(14, 79, 31, 0.95);

      .package__link {
        .package__title {
          color: white;
        }

        .package__subtitle {
          color: #bbb;
        }
      }
    }

    .package__link {
      text-decoration: none;
      color: inherit;
      display: block;
      padding: 2rem;

      .package__title {
        color: black;
      }

      .package__subtitle {
        color: #979797;
      }

      .package__info {
        border: 1px solid #0e4f1f;
        background-color: white;
        color: #0e4f1f;
        padding: 1rem;
        font-size: 1.2rem;
      }
    }
  }

  .clearfix {
    clear: both;
  }
}
